html {
    min-height: 100vh; /* sticky footer */
	scroll-behavior: smooth;
}

// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
	min-height: 100vh; /* sticky footer */
	display: flex; /* sticky footer */
	flex-direction: column; /* sticky footer */

	font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 20px;
    line-height: 1.3;

    text-rendering: optimizeSpeed;
    //text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

.lock {
    overflow: hidden;
}

body > * {
	flex-shrink: 0; /* sticky footer */
}

img {
	max-width: 100%;
	height: auto;
    vertical-align: middle;
}

section {
	// position: relative;
}

/* Grid styles */

.container {
	// max-width: 1140px;
    // width: 100%;
    width: 1140px;
	margin-left: auto;
    margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

    &--fluid {
        max-width: unset;
    }

    &--no-padding {
        padding: 0;
    }
}

/* Utility */

.none {
	display: none !important;
}

.visually-hidden {
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

/* Sticky Footer */

.footer {
	margin-top: auto; /* sticky footer */

	/* Just for fun */
	text-align: center;
	background-color: #e2e2e2;
	padding: 50px 0;
}

.grad-border {
    display: inline;
    background-repeat: no-repeat;
    background-position: center bottom 14px;
    background-size: 100% 14px;
    background-image: linear-gradient(to right, #FBDC4D, #FBDC4D);

    @media (max-width: 1139px) {
        background-position: center bottom 10px;
        background-size: 100% 10px;
        }

    @media (max-width: 899px) {
        background-position: center bottom 7px;
        background-size: 100% 8px;
    }

    @media (max-width: 767px) {
        background-position: center bottom 5px;
    }
}

.h4 {    
    color: #000;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3;
}

.h5 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;

    @media (max-width: 1139px) {
        font-size: 18px;
    }
}

.h2.grad-border {
        background-position: center bottom 10px;
        background-size: 100% 8px;

        @media (max-width: 1139px) {
            background-position: center bottom 8px;
        }
    
        @media (max-width: 899px) {
            background-position: center bottom 5px;
        }
}

.h5.grad-border {
    background-position: center bottom 3px;
    background-size: 100% 6px; 
}

.banner {
    // position: relative;
    margin: 0 auto;
    margin-top: -44px;
    z-index: -6;

    @media (max-width: 1139px) {
        margin-top: -90px;
    }

    @media (max-width: 899px) {
        margin-top: -138px;
    }

    @media (max-width: 767px) {
        margin-top: -32px;
    }
}
