.header-top {    
    padding-top: 70px;
    padding-bottom: 80px;

    @media (max-width: 1139px) {
        padding-bottom: 55px;       
    }

    @media (max-width: 899px) {
        padding-top: 30px;
        padding-bottom: 30px;       
    }
}

.header-logo{
    display: none;

    font-weight: 700;
    font-size: 20px;
    text-align: right;

    @media (max-width: 899px) {
        display: flex;        
    }
}

.header-top-menu {
    @media (max-width: 899px) {
        position: fixed;
        display: flex;
        justify-content: flex-end;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;

        // opacity: 0;
        // transition: opasity 2s ease-in;

        background-color: rgba(37, 73, 116, 0.8); 
        z-index: 10;
        transform: translateX(100%);
        transition: 0.3s;
        
        &.header-top-menu--active {
            transform: translateX(0);
            transition: 0.3s;
        }

        
        .header-top-menu__content {
            background-color: #fff;
            padding: 30px 35px 40px 15px;
            width: 320px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .header-top-menu__contacts {
            display: flex; 
            flex-direction: column; 
        }
    }
}

.header-top-menu__contacts {
    display: none;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // @media (max-width: 899px) {
    // padding-top: 30px;
    // }
    
}
.header-nav-menu {
    display: flex;

    @media (max-width: 899px) { 
    flex-direction: column;   
    align-items: flex-start; 
    gap: 30px;
    padding-top: 30px;
    padding-left: 15px;
    }

}

.header-nav-item {
    margin-right: 100px;
    font-weight: 600;

    @media (max-width: 1139px) {
        margin-right: 50px;
        font-size: 18px;     
    }

    &:last-child {
        margin-right: 0;
    }
}

.header-nav-item {
    &:hover, &:active, &:focus {
        color: rgb(255, 84, 62);
    }
}

.header-nav-link {
    display: flex;
    align-items: center;

    @media (max-width: 899px) {
        display: none;        
    }
}

.header-nav-link a {
    margin-right: 25px;

    &:last-child {
        margin-right: 0;
    }
}

.header-nav-link a {
    &:hover, &:active, &:focus {
    opacity: 0.75;
    }
}