.skills {
    padding-bottom: 95px;

    @media (max-width: 1139px) {
        padding-bottom: 41px;
    }

    @media (max-width: 767px) {
        padding-bottom: 37px;
    }
}

.skills-content {
    display: flex;
    gap: 30px;

    @media (max-width: 1139px) {
        gap: 17px;
    }

    @media (max-width: 899px) {
        gap: 11px;
    }

    @media (max-width: 767px) {
        width: 290px;
        display: block;
    }
}

.skills-content-left {
    width: 605px;
    margin-right: 30px;

    @media (max-width: 1139px) {
        width: 476px;
    }

    @media (max-width: 899px) {
        width: 345px;
    }

    @media (max-width: 767px) {
        width: 290px;
        margin-bottom: 25px;
    }
}

.header-descr-skills {
    margin-bottom: 24px;

    @media (max-width: 1139px) {
        margin-bottom: 17px;
    }

    @media (max-width: 899px) {
        margin-bottom: 21px;
    }
}

.h3 {
    font-size: 42px;
    font-weight: 700;
   
    @media (max-width: 1139px) {
        font-size: 32px;
    }

    @media (max-width: 899px) {
        font-size: 24px;
    }
}

.skills-text-list {
    font-size: 22px;
    font-weight: 400;

    @media (max-width: 1139px) {
        font-size: 18px;
    }

    @media (max-width: 899px) {
        font-size: 16px;
        line-height: 1.7;
                
    }
}

.skills-text-list li::before {
    content: "\2014";
    margin-right: 5px;
    line-height: 1.7;

    @media (max-width: 899px) {
        content: none;
        margin-right: 0;
        }
}

.icon-social {
    display: flex;
    margin-bottom: 20px;

    @media (max-width: 899px) {
        // display: none;
        }
}

/* :not(:last-child) */
.icon-social a {
    margin-right: 30px;

    @media (max-width: 1139px) {
        margin-right: 20px;
    }

    @media (max-width: 899px) {
        width: 38px;
        height: 38px;
        margin-right: 8px;
    }
}

.icon-social a:hover {
    opacity: 0.75;
}

.icon-social-small {
    @media (max-width: 2500px) {
        display: none;
    }

    @media (max-width: 899px) {
        // display: flex;
        // margin-bottom: 21px;
    }
}

.icon-social-small a:not(:last-child) {
    margin-right: 20px;
    }

.link-to {
    white-space: nowrap;
    color: #1A71D2;
    font-size: 22px;

    @media (max-width: 1139px) {
        font-size: 18px;
    }

    @media (max-width: 899px) {
        font-size: 16px;
    }
}

.link-to:hover {
    color: rgb(255, 84, 62);
}

.cv {
    margin-top: 10px;
    color: #1A71D2;
}